.header {
  background-color: #ffffff;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-list {
  display: flex;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-conect {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 70px;
  color: #2196f3;
}

.header-web-logo {
  color: #000000;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.header-link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  display: block;
  bottom: -32px;
  left: 0;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-mail {
  font-family: inherit;
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--link-text-color);
}

.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}

.header-icon {
  margin-right: 10px;
  display: flex;
  text-align: center;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icon:hover,
.header-icon:focus {
  fill: var(--accent-color);
}

.header-tel {
  margin-left: 50px;
  font-family: inherit;
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--link-text-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.header-conect {
  margin-left: auto;
}

/*                 HERO             */
/* MAIN SECTION */
.main-hero-section {
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/imghero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  flex-direction: column;
  padding: 200px 0px;
}

.hero-title {
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.btn {
  margin: 0 auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.btn {
  border-style: none;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  color: #ffffff;
}

/* HERO SECTION */
.hero-responsibility-item {
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
}

.hero-responsibility-item + .hero-responsibility-item {
  margin-left: 30px;
}

.hero-responsibility-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
}

.hero-list {
  display: flex;
}

.hero-item:not(:last-child) {
  margin-right: 30px;
}

.hero-after-title {
  margin-bottom: 10px;
}

.hero-title-description {
  width: 270px;
}

.hero-section {
  background-color: #fff;
  padding-top: 94px;
}

.hero-after-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
}

.hero-title-description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/*# sourceMappingURL=main.css.map */