:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --adress-text-color: #ffffff;
  --accent-color: #2196f3;
  --main-button-color: #2196f3;
  --link-text-color: #757575;
  --header-text-color: #212121;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
  color: var(--main-text-color);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  margin: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.sections-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

/*                       HEADER                 */
.header {
  background-color: #ffffff;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-list {
  display: flex;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-conect {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 70px;
  color: #2196f3;
}
.header-web-logo {
  color: #000000;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.header-link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  display: block;
  bottom: -32px;
  left: 0;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-mail {
  font-family: inherit;
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--link-text-color);
}
.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}
.header-icon {
  margin-right: 10px;
  display: flex;
  text-align: center;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-icon:hover,
.header-icon:focus {
  fill: var(--accent-color);
}

.header-tel {
  margin-left: 50px;
  font-family: inherit;
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--link-text-color);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.header-conect {
  margin-left: auto;
}

/*                 HERO             */

/* MAIN SECTION */
.main-hero-section {
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/imghero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  flex-direction: column;
  padding: 200px 0px;
}

.hero-title {
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
}
.btn {
  margin: 0 auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.btn {
  border-style: none;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  color: #ffffff;
}
/* HERO SECTION */

.hero-responsibility-item {
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
}
.hero-responsibility-item + .hero-responsibility-item {
  margin-left: 30px;
}
.hero-responsibility-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
}

.hero-list {
  display: flex;
}

.hero-item:not(:last-child) {
  margin-right: 30px;
}

.hero-after-title {
  margin-bottom: 10px;
}

.hero-title-description {
  width: 270px;
}
.hero-section {
  background-color: #fff;
  padding-top: 94px;
}

.hero-after-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
}
.hero-title-description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/*                   SECOND-HERO                  */

.hero-image-list {
  display: flex;
}
.hero-image:not(:last-child) {
  margin-right: 30px;
}
.hero-image {
  position: relative;
}
.hero-item-text {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}
.second-hero-section {
  background-color: #ffffff;
}

/*                TEAM SECTIONS */

.team-names {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.team-proffesion {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.team-section {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
.team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-names-profession {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-social-list {
  display: flex;
  justify-content: center;
}

.team-social-item {
  width: 44px;
  height: 44px;
}
.team-social-item + .team-social-item {
  margin-left: 10px;
}
.team-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #afb1b8;
}
.team-social-icon {
  fill: currentColor;
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}
/*                             HERO-CLIENTS */
.regular-customers-list {
  display: flex;
  justify-content: center;
}

.regular-customers-item {
  width: 170px;
  height: 92px;
}
.regular-customers-item:not(:last-child) {
  margin-right: 30px;
}
.regular-customers-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #afb1b8;
}
.regular-customers-icon {
  fill: currentColor;
}
.regular-customers-link:hover,
.regular-customers-link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}
.regular-customers-section {
  background-color: #ffffff;
}
.regular-custumers {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*                  FOOTER            */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  color: #2196f3;
}
.footer-web-logo {
  color: var(--main-title-color);
}
.footer-adress {
  font-style: normal;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-adress-block {
  margin-right: 70px;
}

.footer-mail {
  display: block;
  margin-bottom: 9px;
  font-style: normal;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
}

.footer-tel {
  font-style: normal;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.adress-list {
  display: block;
}
.footer-item {
  margin-top: 20px;
  margin-bottom: 9px;
}
.footer-link-title {
  font-family: Roboto;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-adress-list {
  display: flex;
  justify-content: center;
}

.footer-adress-item {
  width: 44px;
  height: 44px;
}
.footer-adress-item + .footer-adress-item {
  margin-left: 10px;
}
.footer-adress-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;

  color: #ffffff;
}
.footer-adress-icon {
  fill: currentColor;
}
.footer-adress-link:hover,
.footer-adress-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.subscribe-container {
  margin-left: 93px;
}
.subscribe-form {
  display: flex;
}
.subscribe-title {
  font-family: Roboto;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.subscribe-form-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--main-text-color);
  padding-left: 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-form-input:focus {
  border-color: var(--accent-color);
}
.subscribe-form-input::placeholder {
  width: 47px;
  height: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  padding-top: 15px;
  padding-left: 16px;
  color: #ffffff;
}

.subscribe-btn {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.subscribe-btn-icon {
  margin-left: 10px;
}

/*                   Portfolio Project */
.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}

.project-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.project-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
  box-sizing: border-box;
}
.project-item:hover .project-top-text {
  transform: translateY(0);
}

.project-titles {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link {
  display: block;
}
.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-item-wrap {
  position: relative;
  overflow: hidden;
}
.project-top-text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: 100%;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.486);
  position: fixed;
  top: 0;
  transition: opacity 666ms, visibility 666ms;
}
.backdrop.is-hidden .modal {
  transform: scale(1.25) rotate(180deg) translate(999px);
  transition: transform 666ms;
}
.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: scale(1) rotate(0);
  transition: transform 666ms;
  transform: translate(-50%, -50%);
}
.modal-close {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #000000;
}
.modal-close-icon {
  fill: currentColor;
}
.modal-close:hover {
  color: var(--accent-color);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 30px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
.modal-field {
  margin-bottom: 10px;
}
.input-wrap {
  position: relative;
}
.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  padding-left: 42px;
  padding-right: 12px;
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--main-text-color);
}
.modal-form-input:focus {
  border-color: var(--accent-color);
}
.modal-form-input:focus + .input-icon {
  fill: var(--accent-color);
}

.modal-form-text {
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  outline: none;
  resize: none;
  color: var(--main-text-color);
}
.form-input-text {
  font-weight: 400;
  padding-bottom: 4px;
  display: block;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}
.check-text {
  font-family: Roboto;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.check-box-link {
  color: var(--accent-color);
}
.check-item {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check-icon {
  fill: #ffffff;
}
.modal-check:checked + .check-text .check-item {
  background-color: var(--accent-color);
  border: none;
}

.modal-btn {
  display: block;
  margin: 0 auto;
}
