.hero-responsibility-item {
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
}
.hero-responsibility-item + .hero-responsibility-item {
  margin-left: 30px;
}
.hero-responsibility-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
}

.hero-list {
  display: flex;
}

.hero-item:not(:last-child) {
  margin-right: 30px;
}

.hero-after-title {
  margin-bottom: 10px;
}

.hero-title-description {
  width: 270px;
}
.hero-section {
  background-color: #fff;
  padding-top: 94px;
}

.hero-after-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
}
.hero-title-description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}