.responsibility-list__item {
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
}
.responsibility-list__item + .responsibility-list__item {
  margin-left: 30px;
}
.responsibility-list__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
}

.responsibility-list {
  display: flex;
}

.hero-list:not(:last-child) {
  margin-right: 30px;
}

.responsibility-list__title {
  margin-bottom: 10px;
}

.hero-section {
  background-color: #fff;
  padding-top: 94px;
}

.responsibility-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
}
.responsibility-list__title-description {
  width: 270px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
