.btn-item {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-style: none;
  background: #f5f4fa;
  border-radius: 4px;

  padding: 6px 22px;
  border-width: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--header-text-color);
}
.btn-item {
  fill: currentColor;
}

.btn-item:hover,
.btn-item:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filters-item:not(:last-child) {
  margin-right: 8px;
}
