p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
  color: var(--main-text-color);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
